export(baseF)
export(BIC)
export(boots)
export(fitfun)
export(mycor)
export(pgee)
export(pgeeptc)
export(print.pgeeptc)
export(U_H_E_M)
export(q_scad)
importFrom("stats", "model.extract", "model.frame", "model.matrix",
             "pnorm", "sd", "var")
importFrom("methods", "is")
importFrom("MASS", "ginv")
importFrom("Matrix", "bdiag")
import("survival")
